#after-care-container{
    height: 800px;
    width: 800px;
    /* border: 1px solid black; */
    margin-top: 15px;
    margin: 0 auto;
}

#header-after-care{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.aftercare-p{
    color: black;
    text-align: justify;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1.5px;
    padding: 0px 10px 0px 10px;
}

#color-div-1{
    height: 5px;
    width: 800px;
    background-color: black;
    margin-bottom: 10px;
}

#about-logo{
    height: 20%;
    width: 20%;
    margin: 0 auto;
    margin-top: 25px;
}